#!/bin/bash

# make aliases sudo-able
alias sudo="sudo "

# directory navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# some ls aliases
alias la="ls -A"
alias ll="ls -Al"

# npm script shortcuts
alias nr="yarn"
alias t="yarn test"
alias b="yarn build"
alias d="yarn dev"
alias s="yarn start"
alias ns="npm start"
alias nb="npm run build"
alias nd="npm run dev"
alias nt="npm run test"

# git shortcuts
alias gs="git status"
alias ga="git add -A ."
alias gc="git commit"
alias gcm="git commit -m"
alias gb="git branch"
alias gd="git diff"
alias gco="git checkout"
alias gp="git push"
alias gl="git pull"
alias gt="git tag"
alias gm="git merge"
alias gg="git log --graph --pretty=format:'%C(bold red)%h%Creset -%C(bold yellow)%d%Creset %s %C(bold green)(%cr) %C(bold blue)<%an>%Creset %C(yellow)%ad%Creset' --abbrev-commit --date=short"
alias ggr="git log --reverse --pretty=format:'%C(bold red)%h%Creset -%C(bold yellow)%d%Creset %s %C(bold green)(%cr) %C(bold blue)<%an>%Creset %C(yellow)%ad%Creset' --abbrev-commit --date=short"
alias gcp="git cherry-pick"
alias gbg="git bisect good"
alias gbb="git bisect bad"

# blogging shortcuts
alias hs="hexo server"
alias hd="rm db.json && hexo generate && hexo deploy"
alias blog="cd ~/Personal/blog && subl . && hexo server"
alias rnm="rm -rf ./node_modules"

# npm shortcuts that only list top-level modules
alias l="yarn list --depth=0 2>/dev/null"
alias lg="npm list -g --depth=0 2>/dev/null"

# process finding
alias pg="pgrep -lf"

# go to cmc ui repo
alias cmc-ui="cd ~/Work/incorta/backend/incorta.cmc/ui"

alias mysql=/usr/local/Cellar/mysql/8.0.21_1/bin/mysql
alias mysqladmin=/usr/local/Cellar/mysql/8.0.21_1/bin/mysqladmin

alias run-loader-d="./gradlew -PwarFast :incortaWar:farmRunWarLoader --debug"
alias run-analytics-d="./gradlew clean -x check -PwarFast :incortaWar:war && ./gradlew :incortaWar:farmRunWarAnalytics -x war --debug"
alias start-zk="~/IncortaAnalytics/IncortaNode/start-zookeeper.sh"
alias git-prune-history="git gc --prune=now && git remote prune origin"
alias kamel="cd /Users/ahmed_abdulhay/Work/incorta/kamel/ && ./kamel.sh || cd -"

# --------------------------------------------------------------------------------------------------------
alias inc="./incorta-docker.sh"
alias inc-down-a="./incorta-docker.sh down-all"
alias inc-down="./incorta-docker.sh down"
alias inc-analytics-d="./incorta-docker.sh analytics-debug"
alias inc-loader-d="./incorta-docker.sh loader-debug"
alias inc-cmc-d="./incorta-docker.sh cmc-debug"